body{
    color: white;
    font-family: Verdana;
    background-image: url(../Project/grippen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#jobb{
    float: right;
    display: block;
    width: 199px;
}
#kozep{
    text-align: center;

}
#szin{
    color: blue;
    background-color: black;
}
