.arnyek{
    text-shadow: 2px 2px black;
}

.arnyek:hover{
    background-color: darkslategray;
    transition: 1s linear;
}

.feherker{
    border: 2px black solid;
}

body{
    background-color: rgb(139, 143, 145);
}

.footvonal{
    width: 80%;
    border: 2px solid white;
}

.feketelink{
    color: black;
    text-decoration: underline;
}

.katonai{
    background-image: url(img/Katonaikartya.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
}

.hely{
    margin-bottom: 10px;
}