.arnyek{
    text-shadow: 2px 2px black;
}

.arnyek:hover{
    background-color: darkslategray;
    transition: 1s linear;
}

.feherker{
    border: 2px black solid;
}

body{
    background-color: rgb(2, 126, 197);
}

.footvonal{
    width: 80%;
    border: 2px solid white;
}