body{
    background-color: #5e5858;
}
nav{
    text-decoration: none;
    text-align: center;
    color: white;
}
#kami{
    width: 445px;
    margin-bottom: 20px;
}
#kami2{
    width: 445px;
    float: right;
}
#foold{
    margin-left: 75px;
    color: whitesmoke;
    text-decoration: none;
}
#inde{
    margin-left: 70px;
    color: whitesmoke;
    text-decoration: none;
}
#verkami{
    margin-left: 40px;
    color: whitesmoke;
    text-decoration: none;
}
.v1erseny{
    color: whitesmoke;
}
footer{
    color: white;
}
#heade{
    border: white 1px solid;
    width: 100%;
    height: 258px;
}
#sideb{
    height: 900px;
}
.mainn{
    color: white;
    text-indent: 20px;
}
ul{
    color: white;
}
a:active, a:visited, a:hover, a:link{
    text-decoration: none;
}