body{
    background-color: #2a2424;
    color: whitesmoke;
}
#erdek{
    float: right;
    margin-right: 155px;
}
#sbar{
    border: #fffbfb2a solid;
    width: 255px;
    height: 700px;
}
#foold{
    margin-left: 95px;
}
#verkami{
    margin-left: 60px;
}