body{
    background-color: #2a2424;
    color: whitesmoke;
}
#main{
    border: #ffffff solid;
    text-align: justify;
    text-indent: 20px;
}
#foold{
    margin-left: 110px;
}
a{
    text-decoration: none;
    color: cornsilk;
}
