@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&family=Roboto+Slab:wght@100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.font1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
.font2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.tsize1{
    font-size: 25px;
}

.color1{
    color: aquamarine;
}
.color2{
    color: blanchedalmond;
}
.bgcolor1{
    background-color: #373737 ;
}
.bgcolor2{
    background-color: #23262e;
}

body{
    background-color: #181818;
}

a{
    text-decoration: none;
    color: beige;
}

.nav-main{
    text-align: center;
    overflow: hidden;
    font-size: 25px;
}

nav a:hover{
    background-color: beige;
    color: #181818;
    transition-delay: 200ms;
    
}

.stdivp{
    text-align: center;
    font-size: 15px;
} 

.kocsikep{
    width: 500px;
    height: 250px;
}

.kocsikep2{
    width: 1280px;
    height: 1080x;
}

.aloldal2{
    width: 500px;
    font-size: 25px;
}