body{
    background-color: #5e5858;
}
nav{
    text-decoration: none;
    margin-left: 70px;
    color: white;
}
#kami{
    width: 388px;
    margin-bottom: 20px;
}
#kami2{
    width: 387px;
    float: right;
}
#foold{
    margin-left: 99%;
    color: whitesmoke;
    text-decoration: none;
}
#verkami{
    color: whitesmoke;
    text-decoration: none;
}
#v1erseny{
    color: whitesmoke;
}
footer{
    color: white;
}
#heade{
    border: white solid;
    width: 800px;
    height: 258px;
    margin-left: 0px;
}
#sideb{
    height: 900px;
}
#mainn{
    color: white;
    text-indent: 20px;
}
ul{
    color: white;
}