body {
  background-image: url(hatter.jpg);
}

p {
  color: white;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 17px;
}

#tartalom {
  background-color: black;
  color: white;
  width: 1200px;
  margin: auto;


}

h2 {
  border: 1px solid lightblue;
  background-color: lightblue;

}

#navsav {
  list-style-type: none;
}

ul {
  padding: 0;
}

li {
  color: white;
  padding: 8px 16px;
}

nav {
  position: fixed;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: lightskyblue;
  color: white;
}

#villamoskep {
  width: 400px;
  float: right;
  margin: 20px;
}

#metrokep {
  width: 250px;
  margin: 20px;
}

#metrokep2 {
  width: 400px;
  margin: 20px;
}

form {
  border: 1px solid white;
  background-color: white;
  color: black;
  width: 400px;
  display: block;
  margin: auto;
  padding: 15px;
}

table {
  width: 600px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}


img {
  max-width: 100%;
  height: auto;
}

#wiki {
  text-decoration: none;
  color: white;
}

#uj {
  width: 400px;
  padding: 0;
}

#regi {
  width: 400px;
  padding: 0;
}

#table2 {
  margin: 40px;
}