body{
    background-image: url(silas-baisch-K785Da4A_JA-unsplash.jpg);
}
p{
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: large;
    text-align: justify;
}
h1{
    color: white;
    padding: 15px;
    margin: auto;
    text-align: center;
}
a{
    color: white;
    padding: 15px;
}
ul{
    color: white;
    padding: 15px;
}
h3{
    color: white;
    padding: 15px;
}
li{
    padding-left: 15px;
}

img{
    padding-left: 0%;
        width: 500px;
        float: right;
        padding: 15px;
    }
link{
    color: rgb(255, 255, 255);
}
h2{
    color: white;
}
